<h3 style="color: dimgrey;" class="mx-5"> {{'Options'|translate}}  </h3>
<div class="mx-5 d-flex">
  <div style="margin-right:40px;">
    <input class="form-control-inline" type="checkbox" id="inlineCheckbox1" value="option1" checked>
    <label class="form-check-label mx-2 " for="inlineCheckbox1">
      Spent Time
    </label>
  </div>
  <div style="margin-right:40px;">
    <input class="form-control-inline" type="checkbox" id="inlineCheckbox2" value="option1" checked>
    <label class="form-check-label mx-2 " for="inlineCheckbox1">
      Estimated Time
    </label>
  </div>
  <div style="margin-right:40px;">
    <input class="form-control-inline" type="checkbox" id="inlineCheckbox3" value="option1" checked>
    <label class="form-check-label mx-2 " for="inlineCheckbox1">
      % of done
    </label>
  </div>
</div>

