
<div class="container d-flex flex-column">
  <div class="my-1 mx-2" class="item-box" cdkDrag
       *ngFor="let iss of filteredIssues" style="background-color: #F5F5F5">
    <p class="d-flex m-3 "><b>{{iss.tracker?.name}} #{{iss.id}} </b></p>
    <div class="progress_container mx-0 my-2">
      <div class="progress mr-2" style="height: 5px;width:7em;">
        <div class="progress-bar" [style.background-color]="getColor(iss.status.id)"
             role="progressbar" style="width: 100%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </div>
    <p class="d-flex m-3 " style="color:#3E5B76">{{iss.subject}}</p>
    <p class="d-flex mx-3 my-1">{{'Estimated time'|translate}}: {{iss.estimated_hours}}H</p>
    <p class="d-flex mx-3 my-1">{{'Spent time'|translate}}: {{getSpentTime(iss.id)}}H</p>
    <p class="d-flex mx-3 my-1">{{'Done'|translate}}: {{iss.done_ratio}}%</p>
    <p class="d-flex m-3 " style="color:#3E5B76"><b>{{iss.assigned_to?.name}}</b></p>
  </div>
</div>


