<div class="container">
  <h3>{{'Order By'|translate}}</h3>
  <div class="row">
    <div class="form-group">
      <select class="form-control mx-3" [(ngModel)]="order" name="order" id="" [value]="'Start_date'"
              (change)="sendOrder($event)">
        <option disabled value="undefined">Choissiez order</option>
        <option value="Start_date">Start date</option>
        <option value="Name">Name</option>
        <option value="updated_date" defaultSelected>updated date</option>
        <option value="Due_date">Due date</option>
      </select>
    </div>
  </div>

</div>
